<div
  class="row mx-0 justify-content-center align-items-center dashboard-page-form"
>
  <div class="card shadow w-75 mx-auto p-5">
    <div  class="d-flex justify-content-center">
      <p-avatar
         *ngIf="user.profileImage; else noImg"
         [image]="
     
           user.profileImage
         "
         
         size="xlarge"
         shape="circle"
     ></p-avatar>
       <ng-template #noImg>
         <p-avatar
           *ngIf="user.profileImage; else noImg"
           [image]="'../../../../../../../assets/images/global/noImg.png'"
           size="large"
           shape="circle"
         ></p-avatar>
       </ng-template>
     </div >
     <div class="row">
      <div class="col-md-6">
         <h3>User name : <span class=" h6">{{user.userName}}</span></h3>
      </div>
      <div class="col-md-6">
         <h3>email: <span class=" h6">{{user.email}}</span></h3>
        </div>
     </div>
     <div class="row">
      <div class="col-md-6"> <h3> phone number : <span class=" h6">{{user.phoneNumber}}</span></h3> </div>
      <div class="col-md-6"> <h3>country : <span class=" h6">{{user.country}}</span></h3> </div>
     </div>
   <h3>role : <span class=" h6">{{user.role}}</span></h3>
  <button
    label="Back "
    pButton
    pRipple
    class="p-button-info p-button col-md-2 mt-2 ms-auto"
    type="button"
    (click)="Back()"
  ></button>
</div>






