<div
  class="row mx-0 justify-content-center align-items-center dashboard-page-form"
>
  <div *ngIf="user.profileImage" class="d-flex justify-content-center">
    <!-- <img  [src]="'https://upskilling-egypt.com:3000/'+user.profileImage" 
  
    class="w-100" > -->

    <p-avatar
      *ngIf="user.profileImage; else noImg"
      [image]="user.profileImage"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <ng-template #noImg>
      <p-avatar
        *ngIf="user.profileImage; else noImg"
        [image]="'../../../../../../../assets/images/global/noImg.png'"
        size="large"
        shape="circle"
      ></p-avatar>
    </ng-template>
  </div>
  <form class="col-md-8 d-flex flex-column gap-3" [formGroup]="userForm">
    <div class="d-flex flex-column">
      <label>User name</label>
      <input
        type="text"
        formControlName="userName"
        pInputText
        aria-describedby="room-number-help"
        placeholder="Enter user name"
      />
    </div>

    <div class="row mx-0">
      <div class="col-md-6 ps-md-0 d-flex flex-column">
        <label>email</label>
        <input
          type="text"
          pInputText
          aria-describedby="email"
          placeholder="Enter email"
          formControlName="email"
        />
      </div>

      <div class="col-md-6 pe-md-0 d-flex flex-column">
        <label>phone number</label>
        <input
          type="text"
          pInputText
          formControlName="phoneNumber"
          placeholder="Enter phone number"
        />
      </div>
    </div>

    <div class="row mx-0">
      <div class="col-md-6 ps-md-0 d-flex flex-column">
        <label>country</label>
        <input
          type="text"
          pInputText
          placeholder="Enter country"
          formControlName="country"
        />
      </div>
      <div class="col-md-6 pe-md-0 d-flex flex-column">
        <label>role</label>
        <input
          type="text"
          pInputText
          aria-describedby="capacity-help"
          formControlName="role"
          placeholder="Enter role"
        />
      </div>
    </div>

    <p-divider class="mt-1"></p-divider>

    <button
      label="Back "
      pButton
      pRipple
      class="p-button-info p-button col-md-2"
      type="button"
      (click)="Back()"
    ></button>
  </form>
</div>
