.section-auth {
  min-height: 100vh;
  background-color: var(--bg-gary-color);

  .auth {
    background-color: var(--bg-main-color);
    color: var(--default-color);
    padding: 30px;
    border-radius: 15px;
    max-height: 100%;
    min-height: 650px;
    width: 90%;
    margin-inline: auto;
    margin-block: 10px;

    a,
    label {
      color: var(--ternary-color) !important;
    }

    button {
      width: 100%;
    }

    small {
      position: absolute;
    }
  }

  @media (max-width: 1200px) {
    .auth {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .auth {
      padding-inline: 10px;
      width: 100%;
    }
  }

  .login-back {
    background: url(../../images/auth/login.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .register-back {
    background: url(../../images/auth/sign-up.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .forget-reset-back {
    background: url(../../images/auth/forget-reset.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
}
