<nav>
  <div class="bg-navbar-color p-3 px-4 rounded-4 mt-4">
    <div
      class="d-flex justify-content-end align-items-center gap-4"
      *ngIf="userProfile"
    >
      <div>
        <p-avatar
          *ngIf="userProfile.data.user.profileImage; else noImg"
          [image]="
            'https://upskilling-egypt.com:3000/' +
            userProfile.data.user.profileImage
          "
          size="large"
          shape="circle"
        ></p-avatar>
        <ng-template #noImg>
          <p-avatar
            *ngIf="userProfile.data.user.profileImage; else noImg"
            [image]="'../../../../../assets/images/global/noImg.png'"
            size="large"
            shape="circle"
          ></p-avatar>
        </ng-template>
      </div>
      <h6>{{ userProfile.data.user.userName }}</h6>
      <a (click)="menu.toggle($event)" class="pointer"
        ><i class="pi pi-chevron-down"></i
      ></a>
      <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    </div>
  </div>
</nav>
