::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr {
  padding: 1rem !important;
}

// Actions
.actions {
  display: flex;

  button {
    width: 35px !important;
    height: 35px !important;
  }
}
