<section>
  <div class="container">
    <div class="header text-center py-4 ternary-color">
      <h1>Your Favorites</h1>
    </div>
    <div class="rooms py-4">
      <div class="roomsHeader">
        <h3 class="ternary-color">Your rooms</h3>
      </div>
      <div class="row">
        <app-landing-card
          *ngFor="let room of roomsList"
          class="col-md-3 mx-0 rounded-4 py-5"
          [images]="room?.images"
          [name]="room?.roomNumber"
          [isFloatedFooter]="true"
          [badgeTitle]="'$' + room?.price + ' ' + ('sub tittel' | translate)"
          [type]="'room'"
          [id]="room?._id"
          [isFavorite]="false"
          (removeFromFavorites)="getFavouriteRooms(0, rows)"
        ></app-landing-card>
      </div>
    </div>

    <div>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalPages"
        [rowsPerPageOptions]="[6, 10, 15]"
      ></p-paginator>
    </div>
  </div>
</section>
