.profile-image-picker {
  ::ng-deep .p-fileupload .p-progressbar {
    display: none;
  }

  ::ng-deep.p-fileupload .p-fileupload-buttonbar,
  ::ng-deep .p-fileupload .p-fileupload-content {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    text-align: center !important;
  }

  ::ng-deep .uploaded-image-container {
    .p-fileupload-buttonbar {
      display: none;
    }
  }

  ::ng-deep .empty-image-container {
    .p-fileupload-content {
      display: none;
    }
  }

  ::ng-deep .p-fileupload-choose {
    .p-button-icon {
      margin: 0;
    }

    .p-button-label {
      display: none;
    }
  }

  .delete-icon {
    display: block;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
  }
}
