<ng-container *ngIf="!isSuccessPayment; else successPayment">
  <div class="container mt-5 w-75">
    <div class="tittel">
      <h1 class="text-center main-color">Payment</h1>
      <p class="text-center stable-text">
        Kindly follow the instructions below
      </p>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 main-color">
        <h5>Transfer Pembayaran:</h5>
        <h6>Tax: 10%</h6>
        <h6>Sub total: {{ price }}$</h6>
        <h6>total: {{ price + 10 }}$</h6>
        <img src="../../../../../assets/images/item_bank.png" class="d-block" />
        <img src="../../../../../assets/images/landing/item_bank (1).png" />
      </div>
      <div class="col-md-6">
        <div [formGroup]="checkoutForm">
          <ngx-stripe-elements
            [stripe]="stripe"
            [elementsOptions]="elementsOptions"
          >
            <ngx-stripe-card [options]="cardOptions" />
          </ngx-stripe-elements>
        </div>
        <p-button
          label="Continue to book"
          class="btn-main mt-3"
          type="submit"
          (click)="createToken()"
        ></p-button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #successPayment>
  <app-success-payment></app-success-payment>
</ng-template>