<section class="section-auth d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row w-100 auth">
      <div class="col-md-6">
        <div class="logo">
          <img
            src="../../../../../assets/images/landing/Staycation.svg"
            alt="logo"
          />
        </div>
        <div class="auth-form p-5 d-flex flex-column gap-5">
          <div class="auth-title">
            <h2 class="mb-4">Forgot password</h2>
            <p class="mb-0">If you already have an account register</p>
            <p class="mb-0">
              You can
              <a routerLink="/auth/login" class="fw-bold">Login here !</a>
            </p>
          </div>

          <form
            [formGroup]="forgetPasswordForm"
            class="d-flex flex-column gap-4"
          >
            <div class="d-flex flex-column gap-2">
              <label>Email</label>
              <span class="p-input-icon-right">
                <i class="pi pi-envelope"></i>
                <input
                  type="email"
                  pInputText
                  aria-describedby="email-help"
                  placeholder="Enter your email"
                  formControlName="email"
                />
                <small id="email-help"> </small>
                <div
                  *ngIf="
                    forgetPasswordForm.controls.email.touched &&
                    forgetPasswordForm.controls.email.errors
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="forgetPasswordForm.controls.email.errors?.['required']"
                    >Email is required</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="forgetPasswordForm.controls.email.errors?.['email']"
                    >Enter valid email</small
                  >
                </div>
              </span>
            </div>

            <p-button
              label="Send mail"
              [loading]="loading"
              class="btn-main"
              (click)="submit()"
            ></p-button>
          </form>
        </div>
      </div>
      <div class="col-md-6 forget-reset-back"></div>
    </div>
  </div>
</section>
