<nav class="navbar navbar-expand-lg bg-white py-3 border-bottom">
  <div class="container-fluid mx-5">
    <img
      class="navbar-brand"
      src="../../../../../assets/images/landing/Staycation.svg"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mx-2">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="/landing"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ "NAVBAR.HOME" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="/landing/explore"
          >{{ "NAVBAR.EXPLORE" | translate }}</a
        >
        <a class="nav-item nav-link" routerLinkActive="active">{{
          "NAVBAR.REVIEWS" | translate
        }}</a>
        <a
          class="nav-item nav-link"
          routerLink="/landing/favourite"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ "NAVBAR.FAVORITES" | translate }}</a
        >
      </div>

      <form [formGroup]="filterForm" class="select-button">
        <p-selectButton
          class="d-inline-flex me-2"
          [options]="languagesOptions"
          formControlName="language"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="changeLang()"
        ></p-selectButton>

        <p-selectButton
          class="d-inline-flex mx-2"
          [options]="themesOptions"
          formControlName="theme"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="toggleTheme()"
        ></p-selectButton>
      </form>

      <div
        class="d-flex justify-content-end align-items-center gap-4"
        *ngIf="userProfile"
      >
        <div class="avatar">
          <p-avatar
            *ngIf="userProfile.data.user.profileImage; else noImg"
            [image]="userProfile.data.user.profileImage"
            size="large"
            shape="circle"
          ></p-avatar>
          <ng-template #noImg>
            <p-avatar
              *ngIf="userProfile.data.user.profileImage; else noImg"
              [image]="'../../../../../assets/images/global/noImg.png'"
              size="large"
              shape="circle"
            ></p-avatar>
          </ng-template>
        </div>

        <h6>{{ userProfile.data.user.userName }}</h6>
        <a (click)="menu.toggle($event)" class="pointer"
          ><i class="pi pi-chevron-down"></i
        ></a>
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
      </div>
    </div>
  </div>
</nav>
