@import "pages/auth.scss";
@import "pages/dashboard.scss";
@import "pages/buttons.scss";
@import "pages/colors.scss";
@import "pages/fonts.scss";
@import "pages/inputs.scss";
@import "pages/ngx-drop.scss";

body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.p-scrollpanel-content {
  padding: 5px 15px 40px !important;
}


ul {
  margin: 0 !important;
  padding: 0 !important;
}
