<div class="d-flex justify-content-between align-items-center">
  <div>
    <h4 class="title">
      Forget Busy Work,<br />
      Start Next Vacation
    </h4>
    <p class="description">
      We provide what you need to enjoy your holiday with family. <br />
      Time to make another memorable moments.
    </p>

    <!-- <i class="pi pi-calendar"></i>
    <p-calendar
      [(ngModel)]="rangeDates"
      selectionMode="range"
      [readonlyInput]="true"
    ></p-calendar> -->
  </div>
  <div class="w-100 img-container">
    <img
      src="../../../../../../assets/images/landing/image 3.svg"
      height="300px"
    />
  </div>
</div>
