.title {
  font-size: 42px;
  line-height: 63px;
  font-weight: 700 !important;
  color: var(--ternary-color);
}

.description {
  color: #b0b0b0;
}

.img-container {
  width: 300px !important;
  height: 300px;

  position: relative;

  border: 2px solid #e5e5e5;
  border-radius: 8px;
  border-top-left-radius: 25%;

  img {
    position: absolute;

    top: -20px;
    left: -40px;

    border-radius: 16px;
    border-top-left-radius: 25%;
  }
}
