:root {
  --default-color: #e0e0e0;
  --main-color: #fff;
  --secondary-color: #4a90e2;
  --ternary-color: #8ea9e8;
  --gary-color: #999;
  --yellow-color: #dfcb1d;

  --bg-main-color: #121212;
  --bg-secondary-color: #1f2a48;    
  --bg-gary-color: #242424;
  --bg-navbar-color: #181818;
  --bg-icon-color: rgba(74, 144, 226, 0.2);
}
